.popup {
    display: none;
    margin: 0 auto;
    padding: 40px;
    max-width: 30vw;
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.popup__heading {
    margin-bottom: 2.5rem;
    color: var(--black)
}

.popup__input {
    margin-bottom: 20px;
    display: block;
    min-width: 100%;
}