doctype html
html(lang='ru')
  head
    include ../parts/head
    block head
  body
    include ../parts/header
    main
      block main
    include ../parts/footer
    include ../sections/popup/popup
