.hero {
    padding-top: calc(80px + (170 - 30) * (100vw - 360px) / (1920 - 360)); 
    padding-bottom: calc(30px + (70 - 30) * (100vw - 360px) / (1920 - 360)); 
}

.hero__swiper {
    padding: 2.5rem 0;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.hero__item {
   
    display: flex !important;
    gap: 20px;
    align-items: flex-start;
   

    @media (max-width: 1190px) {
        display: block !important;
        padding: 2.5rem 0 4rem;
    }

    @media (max-width: 599px) {
        display: flex!important;
        flex-direction: column-reverse;
        padding-bottom: 2rem;
    }
}

.hero__inner {
    @media (max-width: 1190px) {
        margin-bottom: 2rem;
    }

    @media (max-width: 599px) {
        margin-bottom: 1rem;
    }
}

.hero__tag {
    display: block;
    margin-bottom: 37px;
    padding: 6px 15px;
    width: min-content;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    text-transform: uppercase;
    border-radius: 40px;
    opacity: 0.5;
    border: 1px solid white;

    @media (max-width: 599px) {
        display: none;
    }
}

.hero__text {
    max-width: 60%;
    font-size: 16px;
    line-height: 130%;
    opacity: .5;

    @media (max-width: 991px) {
        max-width: 100%;
    }
}

.hero__nav {
    position: absolute;
    z-index: 2;
    bottom: 2.5rem;
    left: 0;
    display: flex;
    align-items: center;
    gap: 20px;

    @media (max-width: 1190px) {
        bottom: 1rem;
    }

    @media (max-width: 1023px) {
        bottom: 1rem;
    }
}

.hero__btn {
    position: relative !important;
    cursor: pointer;
    width: auto !important;
    height: auto !important;
    transition: .3s linear;
    left: initial !important;
    right: initial !important;

    &:hover svg {
        opacity: .5;
    }

    &::after {
        display: none;
    }
}

.hero__next {
    svg {
        transform: rotate(180deg);
    }
}

.hero__img {
    img {
        margin: 0 auto;
        display: block;
        max-width: 100%;
    }
}

.hero__prev svg, .hero__next svg {
    @media (max-width: 599px) {
       width: 24px !important;
       height: 23px !important;
    }
}