section.faq
    div.container
        div.faq__wrapper
            h2.faq__heading FAQ
            div.faq__list
                div.faq__item
                    div.faq__qa 
                        p Какие услуги предоставляет ваша студия?
                        button.faq__button
                            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M25.865 9.86401V25.5919H22.865L22.865 14.9853L10.5764 27.2739L8.45508 25.1526L20.7437 12.864L10.1371 12.864L10.1371 9.86401H25.865Z" fill="url(#paint0_linear_8402_205)"/>
                                <defs>
                                <linearGradient id="paint0_linear_8402_205" x1="17.16" y1="9.86401" x2="17.16" y2="27.2739" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#FB8627"/>
                                <stop offset="1" stop-color="#F5BEF6"/>
                                </linearGradient>
                                </defs>
                            </svg>
                    div.faq__answer Мы придерживаемся высоких стандартов качества и стремимся создавать уникальный дизайн, отвечающий потребностям и ожиданиям наших клиентов. Наши дизайнеры постоянно совершенствуют свои навыки и следят за новыми трендами в дизайне.
                div.faq__item
                    div.faq__qa 
                        p Какие услуги предоставляет ваша студия?
                        button.faq__button
                            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M25.865 9.86401V25.5919H22.865L22.865 14.9853L10.5764 27.2739L8.45508 25.1526L20.7437 12.864L10.1371 12.864L10.1371 9.86401H25.865Z" fill="url(#paint0_linear_8402_205)"/>
                                <defs>
                                <linearGradient id="paint0_linear_8402_205" x1="17.16" y1="9.86401" x2="17.16" y2="27.2739" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#FB8627"/>
                                <stop offset="1" stop-color="#F5BEF6"/>
                                </linearGradient>
                                </defs>
                            </svg>
                    div.faq__answer Мы придерживаемся высоких стандартов качества и стремимся создавать уникальный дизайн, отвечающий потребностям и ожиданиям наших клиентов. Наши дизайнеры постоянно совершенствуют свои навыки и следят за новыми трендами в дизайне.
                   
                div.faq__item
                    div.faq__qa 
                        p Какие услуги предоставляет ваша студия?
                        button.faq__button
                            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M25.865 9.86401V25.5919H22.865L22.865 14.9853L10.5764 27.2739L8.45508 25.1526L20.7437 12.864L10.1371 12.864L10.1371 9.86401H25.865Z" fill="url(#paint0_linear_8402_205)"/>
                                <defs>
                                <linearGradient id="paint0_linear_8402_205" x1="17.16" y1="9.86401" x2="17.16" y2="27.2739" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#FB8627"/>
                                <stop offset="1" stop-color="#F5BEF6"/>
                                </linearGradient>
                                </defs>
                            </svg>
                    div.faq__answer Мы придерживаемся высоких стандартов качества и стремимся создавать уникальный дизайн, отвечающий потребностям и ожиданиям наших клиентов. Наши дизайнеры постоянно совершенствуют свои навыки и следят за новыми трендами в дизайне.