section.news
    div.container
        h2.news__heading Новости
        div(class='news__wrapper swiper')
            div(class='news__list swiper-wrapper')
                div(class='news__item swiper-slide')
                    a(href="#") 
                        div.news__img
                            img(src="assets/img/news1.jpg", alt="Фото ноутбука")
                        h3.news__title Заголовок новости 1
                        p.news__desc Описание новости в 3 строки Описание новости в 3 строки Описание новости в 3 строки Описание новости в 3 строки Описание новости в 3 строки Описание Описание новости в 3 строки Описание  Описание новости в 3 строки Описание 
                        p.news__date 01 января 1990
                div(class='news__item swiper-slide')
                    a(href="#") 
                        div.news__img
                            img(src="assets/img/news2.jpg", alt="Фото ноутбука")
                        h3.news__title Заголовок новости 2
                        p.news__desc Описание новости в 3 строки Описание новости в 3 строки Описание новости в 3 строки Описание новости в 3 строки Описание новости в 3 строки Описание Описание новости в 3 строки Описание  Описание новости в 3 строки Описание 
                        p.news__date 01 января 1990
                div(class='news__item swiper-slide')
                    a(href="#") 
                        div.news__img
                            img(src="assets/img/news3.jpg", alt="Фото ноутбука")
                        h3.news__title Заголовок новости 3
                        p.news__desc Описание новости в 3 строки Описание новости в 3 строки Описание новости в 3 строки Описание новости в 3 строки Описание новости в 3 строки Описание Описание новости в 3 строки Описание  Описание новости в 3 строки Описание 
                        p.news__date 01 января 1990
                div(class='news__item swiper-slide')
                    a(href="#") 
                        div.news__img
                            img(src="assets/img/news4.jpg", alt="Фото ноутбука")
                        h3.news__title Заголовок новости 4
                        p.news__desc Описание новости в 3 строки Описание новости в 3 строки Описание новости в 3 строки Описание новости в 3 строки Описание новости в 3 строки Описание Описание новости в 3 строки Описание  Описание новости в 3 строки Описание 
                        p.news__date 01 января 1990
                div(class='news__item swiper-slide')
                    a(href="#") 
                        div.news__img
                            img(src="assets/img/news5.jpg", alt="Фото ноутбука")
                        h3.news__title Заголовок новости 5
                        p.news__desc Описание новости в 3 строки Описание новости в 3 строки Описание новости в 3 строки Описание новости в 3 строки Описание новости в 3 строки Описание Описание новости в 3 строки Описание  Описание новости в 3 строки Описание 
                        p.news__date 01 января 1990
                div(class='news__item swiper-slide')
                    a(href="#") 
                        div.news__img
                            img(src="assets/img/news6.jpg", alt="Фото ноутбука")
                        h3.news__title Заголовок новости 6
                        p.news__desc Описание новости в 3 строки Описание новости в 3 строки Описание новости в 3 строки Описание новости в 3 строки Описание новости в 3 строки Описание Описание новости в 3 строки Описание  Описание новости в 3 строки Описание 
                        p.news__date 01 января 1990
        div.news__button  
            button(class='news__prev news__arrow swiper-button-prev')
                <svg width="31" height="29" viewBox="0 0 31 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.912566 14.4627L15.1591 28.7092L17.8765 25.9917L8.26893 16.3842H30.5312L30.5312 12.5412L8.26893 12.5412L17.8765 2.93361L15.1591 0.21618L0.912566 14.4627Z" fill="white"></path>
                </svg>
            button(class='news__next news__arrow swiper-button-next')
                <svg width="31" height="29" viewBox="0 0 31 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.912566 14.4627L15.1591 28.7092L17.8765 25.9917L8.26893 16.3842H30.5312L30.5312 12.5412L8.26893 12.5412L17.8765 2.93361L15.1591 0.21618L0.912566 14.4627Z" fill="white"></path>
                </svg>