footer.footer
  div.container
    div.footer__wrapper
      div.footer__social
        div.footer__logo
          a(href='#')
            img(src='assets/img/logo-footer.svg')
        ul.footer__social-list 
          li.footer__social-item
            a(href='#') 
              img(src='assets/img/yt.svg')
          li.footer__social-item
            a(href='#') 
              img(src='assets/img/tg.svg')
          li.footer__social-item
            a(href='#') 
              img(src='assets/img/vk.svg')
      div.footer__menu
        ul.footer__menu-list 
          li.footer__menu-item 
            a(href='#') О нас
          li.footer__menu-item 
            a(href='#') Проекты
          li.footer__menu-item 
            a(href='#') Новости
          li.footer__menu-item 
            a(href='#') FAQ
          li.footer__menu-item 
            a(href='#') Контакты
      div.footer__info
        p.footer__address г. Горгород,<br> ул. Мегаполисная, 1
        a(href='tel:+70000000000' class='footer__tel') +7 (000) 000-00-00
        a(href='mailto:email@email.ru' class='footer__email') email@email.ru
script(src='assets/js/bundle.min.js')
