extends templates/page.pug

block head
  title Index page

block main
  include sections/hero/hero.pug
  include sections/news/news.pug
  include sections/faq/faq.pug
  include sections/form/form.pug
  //- h1 Index page
  //- a(href='assets/img/example.jpg', data-fancybox='gallery', data-caption='This is example image')
  //-   img(src='assets/img/example.jpg')

   
